<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cirs">

    <permission
        android:name="com.cirs.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.cirs.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".reportit.ReportItApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".reportit.ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reportit.ui.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reportit.ui.activities.CreateProfileActivity"
            android:label="@string/title_activity_create_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reportit.ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reportit.ui.activities.ViewProfileActivity"
            android:label="@string/title_activity_view_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reportit.ui.activities.NewComplaintActivity"
            android:label="@string/title_activity_new_complaint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reportit.ui.activities.ViewComplaintActivity"
            android:parentActivityName=".reportit.ui.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".reportit.ui.activities.HomeActivity" />
            <intent-filter>
                <action android:name="com.cirs.VIEW_COMPLAINTS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reportit.ui.activities.ViewUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".reportit.ui.activities.ViewCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>

        </service>
        <service
            android:name=".gcm.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>
        <service
            android:name=".gcm.TokenRegistrationService"
            android:exported="false" />

        <provider
            android:name=".reportit.db.dbhelpers.CirsAppContentProvider"
            android:authorities="com.cirs.reportit.db"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
